.footer {
    background-color: #333;
    color: #fff;
    font-family: var(--main-family);
    padding: 16px;
    margin-top: auto;
  }
  
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer__content h3 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .footer__content p, ul {
    margin: 0;
  }
  .text__title{
    font-size: 32px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  .footer__follow-us{
    
  }
  .footer__follow-us .footer__icon {
    margin-top: 16px;
    padding: 10px;
  

  }
  .footer__icon{
 font-size: 25px;
  }
  
